body {
  background: url(https://lh3.googleusercontent.com/fife/AMPSemet4tXdYyLEg-A0u3nOjoQTYma-E7qPcu0fRvT1zZWvPtothK13hEhMNMPcbNW-e4vOHigO3M0xRUOnPqIAjhccryyWiOF-xpqHVsnSRwFPZE_GNpCuG0-Sbqr4ZHsQvQ0SkEdJQV7LaKKvT1NCRmejyjNCyoQj18MxDGcslWlsGx42ok-LKIKYDTzEyI3O0HuDZog4m8jnTu9I_lUlzTJsz-KVq17_j3FtRb8iAu0VAi96dN6kC-cDKLkvCzTRO1QwVuvGpeUHU16j8mj-Dtzj3StVkrmix9WL4EjstQyiLFYml5EpLzuNO7F11jUY33N89euQ6HgXy0fw6NJH-3TqVQLwgM-95zr1S2KIgYqRXlHIG1wSIgJSC2lvUtQf_VpCF39m7kmALTcBf4hpQ9owlJ-iZj3OO8NaJb67Y6B4h7alBUJpmZydeHPuzTWcRJLuEnU2AJ0l8DjwTl6c3rCVRKEgaxbYxU6TsAYWFiBQywJkxNWQXEmFkXwucmu3-7FiMGOMZKrbNhFfv-PVqnysibASKBscR6KIOWOp3CBlDd7UTGlHD_Emj4ZTlqr8YznvMNzT7DidtrLSJq8ALNiaVdiuLU2vdaaDu-r1xEA3DfNS7X1j6ftoa2HUcA2FrDa-wQSOd2YMZa6bIucGdJWbIO2l1GT_V_jd-MaDVBufMJ4IUbYipoV5KQ5hYhOi_fBJBw-611ZlPelE8JbUrR9Z-dpVpOsclCwcB2JEngF6mawQ6qpQNmst8H5sMbDEzlPKf_Bs52Sh6PHytBMDNK0YdTUZumI6j4V9_HrhVd0_hTNQ_raFLFjrIszpN4Z3cCYdalgyJ-DB66cUnNVOUOj8_zz8FC4ADl7vg9yZFMEiE5ymM7RNZsstHPe2SX2UemDW1hnqNHrutX2-BlUUb036pYmg9Yw47xXMKl2nju3q92gMWboOLaZCMl9RFtjMZs0ZiN3bHpjTYy0GjJ2r4khUTWWgJLRlOBLhGpe53fA3eUiOVbr_Ka2-uYzPpnITacr0yaisHa-BNDHpAz7cLHjhLT2h5NzbpupWKcqedRASALDdQcar4C6nw0jypR_Ax-D6If-jOAamMLiUQ0-SuJ3p6jvWARqYY0Qk1FafNLoR3jr_PXYIID33VGn_6C7IDP5SnLHa5XECU89YEXSn-BHkbWkmrEzI8lRSKCh802y_7lCnRIrjzUGMDsInlo1-B4K55Zcxh4ZGMM5zIJcQ0U9GgaBJ8VVecXguthFFBw0NfsjABKs5jT5E7p2UMv31zQ7DQJQVbNdofQ9O3VNtTd1CHz94J7gQkJVis4XzKb7OVCKYwV388EjSX6bt0PbkwEJRmq94-gA1wOm-GPZiOiTBG1i7m5F5vuAVZ6R9Gi_iZyfGv_a5tGl0NKY7L6k0mjCoDRFNGKRbLltuDSrzR5iQMGW1_yZkq2pMLFHR_UugDsTNlEFWKCv3Q3pXNc7KBgSziIOu5zOZ7EgeeoZWKAE8dQ=w1920-h947);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-size: 30px;
  padding: 100px 0 0 0;
}

body::-webkit-scrollbar {
  display: none;
}
.dropdown {
  -webkit-box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  border-radius: 0.5vh;
  background-color: rgba(104, 104, 104, 0.116);
  border-color: black;
  border-width: 1.5px;
  color: rgba(0, 0, 0, 0.512);
  width: 200px;
  font-size: x-large;
  font-family: "Dosis", sans-serif;
}

.cards {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 25vh;
  height: 40vh;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5vh;
  padding: 0;
  margin: 1vh;
  background-color: rgba(255, 255, 255, 0.257);
}
.row {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 8vh;
}
.text {
  font-family: "Dosis", sans-serif;
  font-weight: 550;
  font-size: 2vh;
  padding: 15px;
  margin: 10px;
}
.weather-icon {
  margin: 0px;
  padding: 0px;
  width: 15vh;
  height: auto;
  background-color: rgba(0, 0, 0, 0.155);
  border-radius: 5vh;
}

@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
