body {
  background-image: url(https://img.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1203-5705.jpg?w=1380&t=st=1680723247~exp=1680723847~hmac=e1b6494913a73181fd6356a4fc07c56e8d829ad839b9b3501dcd7ff045d30ff8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-size: 30px;
  padding: 100px 0 0 0;
}

body::-webkit-scrollbar {
  display: none;
}
.dropdown {
  -webkit-box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  box-shadow: 63px 71px 215px -15px rgba(0, 0, 0, 0.71);
  border-radius: 0.5vh;
  background-color: rgba(104, 104, 104, 0.116);
  border-color: black;
  border-width: 1.5px;
  color: rgba(0, 0, 0, 0.512);
  width: 200px;
  font-size: x-large;
  font-family: "Dosis", sans-serif;
}
.cards {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 25vh;
  height: 40vh;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5vh;
  padding: 0;
  margin: 1vh;
  background-color: rgba(255, 255, 255, 0.257);
}
.row {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 8vh;
}
.text {
  font-family: "Dosis", sans-serif;
  font-weight: 550;
  font-size: 2vh;
  padding: 15px;
  margin: 10px;
}
.weather-icon {
  margin: 0px;
  padding: 0px;
  width: 15vh;
  height: auto;
  background-color: rgba(0, 0, 0, 0.155);
  border-radius: 5vh;
}

@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");
